/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#buttons{
display: flex;
flex-direction: row;
}
img{
  display: block;
  margin: 0 auto;
}

h3{
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: burlywood;
  /* width: 7%; */
  text-align: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
